<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css">
<title>Panel Restaurante</title>
</head>
<body>
<h1>Reservas del restaurante</h1>
<table border="1" id="tablaReservas">
<tr>
<th>Nombre</th>
<th>Teléfono</th>
<th>Fecha</th>
<th>Hora inicio</th>
<th>Hora fin</th>
<th>Personas</th>
<th>Mesa</th>
<th>Acción</th> <!-- Nueva columna para el botón borrar -->
</tr>

</table>
<script src="/static/app.js"></script>
</body>
</html>
